@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-Light.eot');
    src: local('Mitr Light'), local('Mitr-Light'),
        url('../fonts/Mitr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-Light.woff2') format('woff2'),
        url('../fonts/Mitr-Light.woff') format('woff'),
        url('../fonts/Mitr-Light.ttf') format('truetype'),
        url('../fonts/Mitr-Light.svg#Mitr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-Bold.eot');
    src: local('Mitr Bold'), local('Mitr-Bold'),
        url('../fonts/Mitr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-Bold.woff2') format('woff2'),
        url('../fonts/Mitr-Bold.woff') format('woff'),
        url('../fonts/Mitr-Bold.ttf') format('truetype'),
        url('../fonts/Mitr-Bold.svg#Mitr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-ExtraLight.eot');
    src: local('Mitr ExtraLight'), local('Mitr-ExtraLight'),
        url('../fonts/Mitr-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-ExtraLight.woff2') format('woff2'),
        url('../fonts/Mitr-ExtraLight.woff') format('woff'),
        url('../fonts/Mitr-ExtraLight.ttf') format('truetype'),
        url('../fonts/Mitr-ExtraLight.svg#Mitr-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-Medium.eot');
    src: local('Mitr Medium'), local('Mitr-Medium'),
        url('../fonts/Mitr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-Medium.woff2') format('woff2'),
        url('../fonts/Mitr-Medium.woff') format('woff'),
        url('../fonts/Mitr-Medium.ttf') format('truetype'),
        url('../fonts/Mitr-Medium.svg#Mitr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-SemiBold.eot');
    src: local('Mitr SemiBold'), local('Mitr-SemiBold'),
        url('../fonts/Mitr-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-SemiBold.woff2') format('woff2'),
        url('../fonts/Mitr-SemiBold.woff') format('woff'),
        url('../fonts/Mitr-SemiBold.ttf') format('truetype'),
        url('../fonts/Mitr-SemiBold.svg#Mitr-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('../fonts/Mitr-Regular.eot');
    src: local('Mitr Regular'), local('Mitr-Regular'),
        url('../fonts/Mitr-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mitr-Regular.woff2') format('woff2'),
        url('../fonts/Mitr-Regular.woff') format('woff'),
        url('../fonts/Mitr-Regular.ttf') format('truetype'),
        url('../fonts/Mitr-Regular.svg#Mitr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

